@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

carousel-caption d-none d-md-block{
    text-decoration-color: black;
}

li{
    list-style: none;
}

#wisata .kolom{
    padding-bottom: 5px;
}